.tab-content
  &__container-list
    background-color: $color_fon2
  &__list
  &__item
    display: inline-block
    color: $color_text_hover
    opacity: 0.5
    width: 50%
    height: 120px
    @include tablet
      width: 33.33%
      height: 160px
    @include desktop
      width: 25%
      height: 220px
    &--current
      background-color: $color_social
      opacity: 1
  &__item-link
    padding-top: 15px
    padding-bottom: 15px
    @include tablet
      padding-top: 30px
      padding-bottom: 30px
    @include desktop
      padding-top: 50px
      padding-bottom: 50px
  &__item-img
    display: block
    height: 58px
    margin: 0 auto
  &__item-title
    @include font-size(16px)
    text-align: center
    text-transform: uppercase
    padding-top: 15px
    @include tablet
      padding-top: 20px
    @include desktop
      padding-top: 30px
  &__item-text
    display: none
  &__current-text
    padding-top: 30px
    min-height: 177px