@font-face {
  font-family: 'Novecentosanswide-DemiBold';
  src: url(../fonts/3386D0_0_0.eot);
  src: url(../fonts/3386D0_0_0.eot?#iefix) format("embedded-opentype"), url(../fonts/3386D0_0_0.woff2) format("woff2"), url(../fonts/3386D0_0_0.woff) format("woff"), url(../fonts3386D0_0_0.ttf) format("truetype"); }

@font-face {
  font-family: 'HelveticaNeue-Regular';
  src: url(../fonts/HelveticaNeue.eot);
  src: url(../fonts/HelveticaNeue.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue.woff) format("woff"), url(../HelveticaNeue.ttf) format("truetype"); }

.b-body {
  font: normal 18px "Novecentosanswide-DemiBold"; }

.wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }

.button {
  display: inline-block;
  margin: 0 auto;
  text-decoration: none; }
  .button__container {
    font: inherit;
    border: 0 none;
    text-transform: uppercase;
    padding: 1em;
    background: #2ecc71;
    color: white;
    font-size: 16px;
    font-size: 0.88889em; }
    .button__container--size_s {
      font-size: 14px;
      font-size: 0.77778em; }

.callout-section2 {
  padding: 25px 0;
  background: #322f2f;
  text-align: center; }
  .callout-section2:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  @media (min-width: 768px) {
    .callout-section2 {
      padding: 50px 0; } }
  @media (min-width: 768px) {
    .callout-section2__link {
      float: right; } }
  .callout-section2__question {
    margin-bottom: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #efefef;
    font-size: 24px;
    font-size: 1.33333em; }
    @media (min-width: 768px) {
      .callout-section2__question {
        float: left;
        margin-bottom: 0;
        line-height: 1.86em;
        text-align: inherit; } }

.footer {
  background: #fefefe;
  padding-top: 1.39em;
  padding-bottom: 1.39em;
  color: #a5a5a5;
  text-align: center;
  font-size: 12px;
  font-size: 0.66667em; }
  .footer:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  @media (min-width: 768px) {
    .footer {
      text-align: inherit; } }
  .footer__menu {
    margin-bottom: 1em; }
    @media (min-width: 768px) {
      .footer__menu {
        float: right;
        margin-bottom: 0; } }
  .footer__copyright {
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .footer__copyright {
        float: left; } }

.header {
  background: #fefefe; }
  .header__logo {
    float: left;
    padding-top: 30px;
    padding-bottom: 30px; }
  .header__social-media {
    float: right;
    width: 120px;
    padding: 18px 0; }
    @media (min-width: 768px) {
      .header__social-media {
        width: auto;
        padding-top: 30px;
        padding-bottom: 30px; } }
  .header__main-menu {
    clear: both;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #dadada; }

.logo {
  height: 50px;
  font-weight: bold;
  text-decoration: none; }
  .logo__container {
    display: inline-block;
    width: 50px;
    text-align: center;
    line-height: 50px;
    background: #737373;
    color: white;
    font-size: 2em; }
  .logo__text {
    display: inline-block;
    vertical-align: top;
    padding: 0 14px;
    line-height: 50px;
    color: #737373;
    text-transform: uppercase;
    font-size: 24px;
    font-size: 1.33333em; }
    @media (max-width: 320px) {
      .logo__text {
        font-size: 20px;
        font-size: 1.11111em; } }

.main-menu__element {
  display: inline;
  margin-right: 1em; }
  @media (min-width: 768px) {
    .main-menu__element {
      margin-right: 2em; } }
  .main-menu__element:last-child {
    margin-right: 0; }

.main-menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #737373;
  transition: color 500ms; }
  @media (max-width: 320px) {
    .main-menu__link {
      font-size: 15px;
      font-size: 0.83333em; } }
  .main-menu__link:hover {
    color: #2ecc71;
    border-bottom: solid 3px #2ecc71; }

.social-media__element {
  display: inline-block;
  fill: #dadada;
  padding-right: 2px; }
  .social-media__element:last-child {
    padding-right: 0; }
  .social-media__element:hover {
    fill: #00bbf5; }

.text-content {
  text-align: left; }
  .text-content:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .text-content--align_center {
    text-align: center; }
  .text-content--width_750 {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto; }
  .text-content__column {
    padding-top: 50px; }
    .text-content__column:first-child {
      padding-top: 0; }
    @media (min-width: 768px) {
      .text-content__column {
        padding-top: 0; } }
  .text-content--columns_2 {
    column-count: 1; }
    @media (min-width: 768px) {
      .text-content--columns_2 {
        column-count: 2;
        column-gap: 50px; } }
  .text-content__head {
    padding-bottom: 1.25em;
    text-transform: uppercase;
    font-size: 24px;
    font-size: 1.33333em;
    color: #737373; }
    .text-content__head--color_lighter {
      color: #8a8888; }
  .text-content__text {
    padding-bottom: 1.25em;
    font: normal 14px "HelveticaNeue-Regular";
    font-size: 14px;
    font-size: 0.77778em;
    color: #8a8888;
    line-height: 1.571428em; }
    .text-content__text:last-child {
      padding-bottom: 0; }
  .text-content__img {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .text-content__img {
        float: left;
        width: 380px;
        height: 280px;
        margin-right: 30px;
        margin-left: 0;
        margin-bottom: 0; } }
  .text-content__video {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .text-content__video {
        float: left;
        width: 380px;
        height: 240px;
        margin-right: 30px;
        margin-left: 0;
        margin-bottom: 0; } }
    .text-content__video--example {
      background: url("../img/video-player.png") center; }
  .text-content__dl {
    font: normal 14px "HelveticaNeue-Regular";
    color: #8a8888;
    line-height: 1.571428em; }
  .text-content__dt {
    display: inline-block;
    width: 66%; }
  .text-content__dd {
    display: inline-block; }
  .text-content__ul {
    display: block;
    list-style-type: disc;
    padding-left: 40px;
    list-style-image: url("../img/bullet.png");
    font: normal 14px "HelveticaNeue-Regular";
    color: #8a8888;
    line-height: 1.571428em; }
  .text-content__li {
    display: list-item; }

.callout-section {
  background: #fefefe;
  text-align: center;
  padding: 96px 0 30px 0; }
  .callout-section__text {
    display: inline-block;
    max-width: 750px;
    color: #aeadad;
    text-transform: uppercase;
    font-size: 16px;
    font-size: 0.88889em; }
  .callout-section__button {
    display: inline-block;
    margin: 20px 0; }

.carousel {
  position: relative;
  min-height: 360px;
  overflow: hidden; }
  .carousel__list {
    position: relative;
    list-style: none; }
  .carousel__list-element {
    position: relative;
    float: left;
    width: 300px;
    margin-right: 20px; }
    .carousel__list-element--current > .carousel__item-link {
      opacity: 1; }
    .carousel__list-element--current > .carousel__item-name, .carousel__list-element--current .carousel__item-description {
      opacity: 1;
      margin: 0 auto; }
      @media (min-width: 768px) {
        .carousel__list-element--current > .carousel__item-name, .carousel__list-element--current .carousel__item-description {
          margin: 0 -125px; } }
  .carousel__item-link {
    position: relative;
    display: block;
    opacity: 0.5;
    transition: opacity 500ms; }
    .carousel__item-link:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 98px;
      height: 98px;
      margin: -49px 0 0 -49px;
      content: '';
      background: url("../img/carousel-link.svg") center no-repeat;
      opacity: 0; }
    .carousel__item-link:hover {
      opacity: 1; }
      .carousel__item-link:hover:after {
        opacity: 1; }
  .carousel__item-image {
    display: block;
    width: 300px;
    height: 200px;
    margin-right: auto;
    margin-left: auto; }
  .carousel__item-name {
    padding-top: 2.5em;
    padding-bottom: 1.55em;
    color: #8a8888;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: opacity 500ms; }
  .carousel__item-description {
    font: normal 14px "HelveticaNeue-Regular";
    color: #8a8888;
    text-align: center;
    opacity: 0;
    transition: opacity 500ms;
    margin: 0; }
  .carousel__arrow {
    position: absolute;
    top: 275px;
    fill: #efefef; }
    .carousel__arrow:hover {
      fill: #2ecc71; }
  .carousel__arrow-left {
    left: 5px; }
    @media (min-width: 768px) {
      .carousel__arrow-left {
        left: 50%;
        margin-left: -310px; } }
  .carousel__arrow-right {
    right: 5px; }
    @media (min-width: 768px) {
      .carousel__arrow-right {
        left: 50%;
        margin-left: 290px; } }

.menu-slash__element {
  display: inline;
  margin-right: 0.5em; }
  .menu-slash__element:last-child {
    margin-right: 0; }
    .menu-slash__element:last-child:after {
      content: none; }
  .menu-slash__element:after {
    content: '/';
    margin-left: 0.5em; }

.menu-slash__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #a5a5a5;
  transition: color 500ms; }
  .menu-slash__link:hover {
    color: #2ecc71;
    border-bottom: solid 2px #2ecc71; }

.portfolio-section {
  background: #fefefe;
  padding-top: 50px;
  padding-bottom: 50px; }
  .portfolio-section__text_container {
    margin-bottom: 2.5em; }

.slider {
  background: #2cc26b url("../img/sunburst.svg") top center;
  background-size: cover; }
  .slider__devices {
    display: block;
    max-width: 840px;
    width: 86.4583%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 53px; }

.video-section {
  background: #efefef;
  padding: 40px 0; }

.title {
  background-color: #2ecc71; }
  .title__text {
    padding: 1.33em 0;
    font-size: 30px;
    font-size: 1.66667em;
    text-transform: uppercase;
    color: white; }

.about-us {
  padding-top: 2.78em;
  padding-bottom: 2.78em; }

.tab-content__container-list {
  background-color: #efefef; }

.tab-content__item {
  display: inline-block;
  color: #423e3e;
  opacity: 0.5;
  width: 50%;
  height: 120px; }
  @media (min-width: 768px) {
    .tab-content__item {
      width: 33.33%;
      height: 160px; } }
  @media (min-width: 1024px) {
    .tab-content__item {
      width: 25%;
      height: 220px; } }
  .tab-content__item--current {
    background-color: #dadada;
    opacity: 1; }

.tab-content__item-link {
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (min-width: 768px) {
    .tab-content__item-link {
      padding-top: 30px;
      padding-bottom: 30px; } }
  @media (min-width: 1024px) {
    .tab-content__item-link {
      padding-top: 50px;
      padding-bottom: 50px; } }

.tab-content__item-img {
  display: block;
  height: 58px;
  margin: 0 auto; }

.tab-content__item-title {
  font-size: 16px;
  font-size: 0.88889em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px; }
  @media (min-width: 768px) {
    .tab-content__item-title {
      padding-top: 20px; } }
  @media (min-width: 1024px) {
    .tab-content__item-title {
      padding-top: 30px; } }

.tab-content__item-text {
  display: none; }

.tab-content__current-text {
  padding-top: 30px;
  min-height: 177px; }

.services {
  padding-bottom: 50px; }

.map--example {
  background-image: url("../img/map-example.png"); }

.contact {
  padding-top: 2.78em;
  padding-bottom: 2.78em; }
  .contact:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .contact__form {
    display: block;
    width: 100%;
    padding-bottom: 30px; }
    @media (min-width: 768px) {
      .contact__form {
        display: inline-block;
        width: 60%;
        margin-right: 10%; } }
  .contact__info {
    display: block;
    width: 100%; }
    @media (min-width: 768px) {
      .contact__info {
        display: inline-block;
        vertical-align: top;
        width: 30%; } }

.form__description {
  padding-bottom: 30px; }

.form__input {
  display: block;
  margin-bottom: 15px;
  border: 2px solid #8a8888;
  padding: 15px;
  width: 62%;
  max-width: 350px;
  font: normal 14px "HelveticaNeue-Regular"; }

.form__textarea {
  display: block;
  margin-bottom: 15px;
  border: 2px solid #8a8888;
  padding: 15px;
  width: 100%;
  max-width: 100%; }
