$headerElemPaddingTB: 30px

.header
  background: $color_fon1
  &__logo
    float: left
    padding-top: $headerElemPaddingTB
    padding-bottom: $headerElemPaddingTB
  &__social-media
    float: right
    padding-top: $headerElemPaddingTB
    padding-bottom: $headerElemPaddingTB
  &__main-menu
    clear: both
    padding-top: $headerElemPaddingTB
    padding-bottom: $headerElemPaddingTB
    border-top: 1px solid $color_social

@media screen and (max-device-width: 640px)
  .header
      &__logo
        font-size: 0.8em
      &__social-media
        width: 120px
        padding: 18px 0

@media screen and (max-device-width: 400px)
  .header
    &__main-menu
      font-size: 0.8em