.header
  background: $color_fon1
  & > *
    padding: 30px 0
  &__logo
    float: left
  &__social-media
    float: right
  &__main-menu
    clear: both
    border-top: 1px solid $color_social

@media screen and (max-device-width: 640px)
  .header
      &__logo
        font-size: 0.8em
      &__social-media
        width: 120px
        padding: 18px 0

@media screen and (max-device-width: 400px)
  .header
    &__main-menu
      font-size: 0.8em
