.callout-section2
  @include clearfix
  padding: 25px 0
  background: $color_fon4
  text-align: center
  @include tablet
    padding: 50px 0
  &__link
    @include tablet
      float: right
  &__question
    margin-bottom: 1em
    line-height: 1.5em
    text-transform: uppercase
    color: $color_fon2
    @include font-size(24px)
    @include tablet
      float: left
      margin-bottom: 0
      line-height: 1.86em
      text-align: inherit