.footer
  @include clearfix
  background: $color_fon1
  padding-top: 1.39em
  padding-bottom: 1.39em
  color: $color_text5
  text-align: center
  @include font-size(12px)
  @include tablet
    text-align: inherit
  &__menu
    margin-bottom: 1em
    @include tablet
      float: right
      margin-bottom: 0
  &__copyright
    text-transform: uppercase
    @include tablet
      float: left