.footer
  display: flex
  flex-direction: column
  @include tablet
    flex-direction: row-reverse
  justify-content: space-between
  background: $color_fon1
  padding-top: 1.39em
  color: $color_text5
  text-align: center
  @include font-size(12px)
  &__menu
    padding-bottom: 1.39em
  &__copyright
    text-transform: uppercase
    padding-bottom: 1.39em