@font-face
  font-family: 'Novecentosanswide-DemiBold'
  src: url(../fonts/3386D0_0_0.eot)
  src: url(../fonts/3386D0_0_0.eot?#iefix) format('embedded-opentype'), url(../fonts/3386D0_0_0.woff2) format('woff2'), url(../fonts/3386D0_0_0.woff) format('woff'), url(../fonts3386D0_0_0.ttf) format('truetype')

@font-face
  font-family: 'HelveticaNeue-Regular'
  src: url(../fonts/HelveticaNeue.eot)
  src: url(../fonts/HelveticaNeue.eot?#iefix) format('embedded-opentype'), url(../fonts/HelveticaNeue.woff2) format('woff2'), url(../fonts/HelveticaNeue.woff) format('woff'), url(../HelveticaNeue.ttf) format('truetype')

$font_main: normal 18px 'Novecentosanswide-DemiBold'
$font_text: normal 14px 'HelveticaNeue-Regular'

body
  font: $font_main

$color1: #737373
$color2: #fefefe
$color3: #efefef
$color4: #2cc26b
$color5: #dadada
$color6: #322f2f
$color7: white
$color8: #7c7c7c
$color9: #2ecc71
$color10: #00bbf5
$color11: #aeadad