.form
  &__description
    padding-bottom: 30px
  &__input
    display: block
    margin-bottom: 15px
    border: 2px solid $color_text3
    padding: 15px
    min-width: 350px
    font: $font_text
  &__button
    text-transform: uppercase
    padding: 1em
    background: $color_fon3
    color: $color_text4
    font-size: 0.88em
    border: 0 none
    cursor: pointer