.contact
  padding-top: 50px
  padding-bottom: 50px
  &__form
    float: left
    width: 560px
    margin-right: 100px
  &:after
    content: '.'
    display: block
    height: 0
    clear: both
    visibility: hidden
  &__info